<nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
        <h1 style="color: aliceblue; font-family:'Georgia', 'cursive';">Employee List</h1>
        <div class="d-flex">
            <button [routerLink]= "['/']" type="button" data-bs-toggle="modal" 
              class="btn btn-block btn-lg fw-bold" style="color: aliceblue; font-family:'Georgia', 'cursive';">Log Out</button>

            <button (click)= "clickAddEmployee()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" 
              class="btn btn-block btn-lg" style="color: aliceblue; font-family:'Georgia', 'cursive';">Add Employee</button>
        </div>
    </div>
</nav>

<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Email ID</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let row of employeeData">
            <td>{{row.id}}</td>
            <td>{{row.name}}</td>
            <td>{{row.email}}</td>
            <td>{{row.contact}}</td>
            <td>{{row.address}}</td>
            <td>
                <button (click)= "onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-primary">Edit</button>
                <button (click)= "deleteEmployee(row)" class="btn btn-outline-danger mx-3">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]= "empDetail">
                <div class="mb-3">
                  <label for="InputName">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="InputName" aria-describedby="emailHelp" placeholder="Enter name here">
                  
                </div>
                <div class="mb-3">
                  <label for="InputEmail">Email ID</label>
                  <input type="email" formControlName="email" class="form-control" id="InputEmail" placeholder="Enter your email id here">
                </div>
                <div class="mb-3">
                  <label for="InputContact">Contact Number</label>
                  <input type="text" formControlName="contact" class="form-control" id="InputContact" placeholder="Enter your contact number here">
                </div>
                <div class="mb-3">
                   <label for="InputAddress">Address</label>
                   <input type="text" formControlName="address" class="form-control" id="InputAddress" placeholder="Enter your address here">
                </div>
                
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf= "showAdd" (click)= "clickAddEmployee()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf= "showUpdate" (click)= "updateEmployeeDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>